<div class="row">
    <div class="offset-2 col-8">
        <div class="mx-auto text-light font-weight-light h1 mt-5 mb-3">
            ユーザー編集
        </div>
    </div>
    <div class="bg-light offset-2 col-8 p-4">
      <%= form_with(model: @user, local: true, multipart: true) do |f| %>
          <div class="form-group">
            <%= f.label :name, 'ユーザー名' %>
            <%= f.text_field :name, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :imagefile_name, 'ユーザー画像' %>
            <%= f.file_field :imagefile_name, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :email, 'メールアドレス' %>
            <%= f.email_field :email, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :password, 'パスワード' %>
            <%= f.password_field :password, class: 'form-control' %>
          </div>
          <%= f.submit '保存', class: 'btn btn-primary btn-block'  %>
      <% end %>
    </div>
</div>