<div class="row">
    <div class="col-xs-12 text-light">
        <img src="<%= "#{current_user.imagefile_name}" %>" class="mx-auto d-block rounded-circle bg-light" height="256" width="256">
        <h2 class="text-center mt-5"><%= current_user.name %></h2>
        <p class="text-center mt-4"><%= current_user.email %></p>
    </div>
</div>
<div class="row">
    <div class="offset-xs-2 col-xs-4">
        <%= link_to("編集",edit_user_path(current_user),class: "btn btn-primary w-100 mx-auto d-block") %>
    </div>
    <div class="col-xs-4">
        <%= link_to '退会', @user, method: :delete, data: { confirm: '本当に退会してよろしいですか？' }, class: 'btn btn-danger w-100 mx-auto d-block' %>
    </div>
</div>