<div class="row">
    <div class="col-12 col-sm-6 col-lg-5">
        <img src="<%= "#{@deck.imagefile_name}" %>", class = "showcardimage">
    </div>
    <div class="col-12 col-sm-6 col-lg-7">
        <h1 class="text-center text-light mt-5"><%= "#{@deck.name}" %></h1>
        <div class="bg-light border comment">
            <div>
                <p class="p-2 mb-0 text-center"><%= "#{@deck.comment}" %></p>
            </div>
            <%= form_with(model: @deck, local: true) do |f| %>
                <table class="table table-bordered text-center mb-0">
                    <tr>
                        <td class="form-group">
                            <div>
                                <%= f.label :number_of_use, '使用数' %>
                            </div>
                            <div>
                                <%= f.text_field :number_of_use, class: 'form-control' %>
                            </div>
                        </td>
                        <td class="form-group">
                            <div>
                                <%= f.label :number_of_wins, '勝利回数' %>
                            </div>
                            <div>
                                <%= f.text_field :number_of_wins, class: 'form-control' %>
                            </div>
                        </td>
                        <td>
                            <p>勝率</p>
                            <p><%= @rate.round(2) %>%</p>
                            <div>
                                <%= f.submit '計算', class: 'btn btn-primary btn-block'  %>
                            </div>
                        </td>
                    </tr>
                </table>
            <% end %>
        </div>
        <% if current_user.favorited?(@deck) %>
            <%= link_to(deck_favorite_path(@deck.id), {method: :delete, class: "btn btn-danger text-light float-right"}) do %>お気に入り解除<span class="fas fa-star"></span><% end %>
        <% else %>
            <%= link_to(deck_favorites_path(@deck.id), {method: :post, class: "btn btn-primary text-light float-right"}) do %>お気に入り登録<span class="far fa-star"></span><% end %>
        <% end %>
    </div>
</div>
<div class="row mt-4">
    <div class="col-6 col-lg-6">
        <%= link_to("リストに戻る", root_url, class: 'btn btn-primary btn-block' ) %>
    </div>
    <div class="col-3 col-lg-3">
        <%= link_to("編集", edit_deck_path, class: 'btn btn-primary btn-block' ) %>
    </div>
    <div class="col-3 col-lg-3">
        <%= link_to '削除', @deck, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'btn btn-danger btn-block' %>
    </div>
</div>