<header class="mb-5">
  <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <%= link_to("ListForCardgamer", "/", class: "navbar-brand mr-auto text-light" ) %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <% if logged_in? %>
          <%= link_to("#{current_user.name}",user_path(current_user),class: "nav-item nav-link") %>
          <%= link_to("デッキ一覧",root_url,class: "nav-item nav-link") %>
          <%= link_to("お気に入りデッキ一覧",deck_favorites_path(current_user),class: "nav-item nav-link") %>
          <%= link_to("ログアウト", logout_path, {method: :delete, class: "nav-item nav-link"}) %>
        <% else %>
          <%= link_to("アカウント作成", "signup", class: "nav-item nav-link" ) %>
          <%= link_to("ログイン", "login", class: "nav-item nav-link" ) %>
        <% end %>
      </ul>
    </div>
  </nav>
</header>